!!!
%html{ :dir => "ltr", :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :content => "chrome=1", "http-equiv" => "X-UA-Compatible" }
    %title
      Web Font Specimen
    %link{ :href => "/stylesheets/wfs.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
  %body
    #header.container_16.clearfix
      /
        NAME OF TYPEFACE
      .grid_16
        %h1
          Your Font
      /
        HEADINGS, LISTS, EMPHASIS
      .grid_8
        %h2
          Headings, lists, and emphasis
        %p
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %h3
          Lorem ipsum
          %em
            dolor
          sit
          %strong
            amet
        %p
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %ul
          %li
            Duis aute irure dolor in reprehenderit
          %li
            in
            %em
              voluptate velit esse cillum
            dolore eu fugiat nulla pariatur
          %li
            Excepteur sint occaecat cupidatat non proident
          %li
            sunt in culpa qui officia deserunt mollit anim id est laborum.
        %ol
          %li
            Duis aute irure dolor in reprehenderit
          %li
            in
            %em
              voluptate velit esse cillum
            dolore eu fugiat nulla pariatur
          %li
            Excepteur sint occaecat cupidatat non proident
          %li
            sunt in culpa qui officia deserunt mollit anim id est laborum.
        %h4
          Consectetur
          %em
            adipisicing
          elit
          %strong
            voluptate
        %p
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %p.dropcap
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to discard knowledge of what has gone before or what is now going on in his own trade and profession. If the printers of today do not wish to be esteemed arrogant when they term this calling of theirs an art, they must be willing, and show that they are willing, to subject it to such laws as have made its
        %p
          %em
            The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %h5
          Sed do
          %em
            eiusmod
          tempor
          %strong
            incididunt
        %p
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
      /
        BODY SIZE COMPARISON
      .grid_8
        %h2
          Body size comparison
          %span
            \&middot; Your Font and Verdana
        %p.char-compare
          %span.typeface1
            a
          %span.typeface2
            a
          %span.typeface1
            b
          %span.typeface2
            b
          %span.typeface1
            c
          %span.typeface2
            c
          %br
          %span.typeface1
            e
          %span.typeface2
            e
          %span.typeface1
            f
          %span.typeface2
            f
          %span.typeface1
            g
          %span.typeface2
            g
          %br
          %span.typeface1
            n
          %span.typeface2
            n
          %span.typeface1
            o
          %span.typeface2
            o
          %span.typeface1
            t
          %span.typeface2
            t
          %br
          %span.typeface1
            A
          %span.typeface2
            A
          %span.typeface1
            O
          %span.typeface2
            O
          %span.typeface1
            R
          %span.typeface2
            R
      /
        LEADING
      .grid_8
        %h2
          Leading
          %span
            – CSS font-size/line-height (px)
        %p.l-less
          %span
            13/16
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %p.l-mid
          %span
            13/18
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %p.l-more
          %span
            13/21
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %p.l-most
          %span
            13/24
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
      .clearfix
    /
      end .container-16
    /
      ALPHABET
    .dim
      .container_16.clearfix
        .grid_16.center
          %h2
            \&middot; 42px &middot;
          %p.s42
            The best kind of originality is that which comes after a sound apprenticeship, that which shall
          %p.s42
            %em
              The best kind of originality is that which comes after a sound apprenticeship, that which shall
          %p.s42.upp.ls
            abcdefghijklmnopqrstuvwxyz
          %p.s42
            abcdefghijklmnopqrstuvwxyz
          %p.s42.ls
            $ &amp; &sect; 1234567890-.,:;—“”?!
      /
        end .container_16
    /
      end .dim
    /
      MEASURE
    .container_16.clearfix
      .grid_16
        %h2
          Measure
          %span
            – CSS font-size/line-height &times; width (px)
        %p.m-widest
          %span
            13/18 &times; 900
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to discard knowledge of what has gone before or what is now going on in his own trade and profession. If the printers of today do not wish to be esteemed arrogant when they term this calling of theirs an art, they must be willing, and show that they are willing, to subject it to such laws as have made its
        %p.m-wide
          %span
            13/18 &times; 700
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to discard knowledge of what has gone before or what is now going on in his own trade and profession. If the printers of today do not wish to be esteemed arrogant when they term this calling of theirs an art, they must be willing, and show that they are willing, to subject it to such laws as have made its
      .grid_9
        %p.m-mid
          %span
            13/18 &times; 450
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %p.m-narrow
          %span
            13/18 &times; 300
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
      .grid_7.small
        %p.m-mid
          %span
            11/14 &times; 350
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %p.m-narrow
          %span
            11/14 &times; 250
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %p.m-mini
          %span
            9/13 &times; 200
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
      /
        SIZE
      .grid_16
        %h2
          Size
          %span
            – CSS font-size (px)
        %p.s.s36
          %span
            36
          Pack my box with five dozen liquor jugs.
        %p.s.s30
          %span
            30
          Pack my box with five dozen liquor jugs.
        %p.s.s24
          %span
            24
          Pack my box with five dozen liquor jugs.
      .clearfix
      .grid_10
        %p.s.s21
          %span
            21
          Pack my box with five dozen liquor jugs.
        %p.s.s18
          %span
            18
          Pack my box with five dozen liquor jugs.
      .grid_6.upp
        %p.s.s9
          %span
            9
          Pack my box with five dozen liquor jugs.
        %p.s.s10
          %span
            10
          Pack my box with five dozen liquor jugs.
      .clearfix
      .grid_8
        %p.s.s16
          %span
            16
          Pack my box with five dozen liquor jugs.
        %p.s.s14
          %span
            14
          Pack my box with five dozen liquor jugs.
        %p.s.s13
          %span
            13
          Pack my box with five dozen liquor jugs.
      .grid_8.upp
        %p.s.s11
          %span
            11
          Pack my box with five dozen liquor jugs.
        %p.s.s12
          %span
            12
          Pack my box with five dozen liquor jugs.
        %p.s.s13
          %span
            13
          Pack my box with five dozen liquor jugs.
      .clearfix
      .grid_6
        %p.s.s12
          %span
            12
          Pack my box with five dozen liquor jugs.
        %p.s.s11
          %span
            11
          Pack my box with five dozen liquor jugs.
        %p.s.s10
          %span
            10
          Pack my box with five dozen liquor jugs.
        %p.s.s9
          %span
            9
          Pack my box with five dozen liquor jugs.
      .grid_10.upp
        %p.s.s14
          %span
            14
          Pack my box with five dozen liquor jugs.
        %p.s.s16
          %span
            16
          Pack my box with five dozen liquor jugs.
        %p.s.s18
          %span
            18
          Pack my box with five dozen liquor jugs.
      .clearfix
      .grid_16.upp
        %p.s.s21
          %span
            21
          Pack my box with five dozen liquor jugs.
        %p.s.s24
          %span
            24
          Pack my box with five dozen liquor jugs.
      /
        GRAYSCALE AND COLOR ON WHITE
      .grid_8
        %h2
          Grayscale
          %span
            – CSS color (shorthand hexadecimal)
        %p.c000
          %span
            \#000
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %p.c333
          %span
            \#333
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %p.c666
          %span
            \#666
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %p.c999
          %span
            \#999
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        %p.cCCC
          %span
            \#CCC
          The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
      .grid_8
        .c000-fff
          %h2
            Color
            %span
              – CSS color (shorthand hexadecimal)
          %p
            %span
              \#000
            The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        .cf00-fff
          %p
            %span
              \#F00
            The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        .c0ff-fff
          %p
            %span
              \#0FF
            The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
    /
      end .container_16
    /
      GRAYSCALE AND COLOR ON BLACK
    .dark
      .container_16.clearfix
        .grid_8
          %h2
            Grayscale
            %span
              – CSS color (shorthand hexadecimal)
          %p.cfff
            %span
              \#FFF
            The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
          %p.cCCC
            %span
              \#CCC
            The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
          %p.c999
            %span
              \#999
            The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
          %p.c666
            %span
              \#666
            The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
          %p.c333
            %span
              \#333
            The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        .grid_8
          .cfff-000
            %h2
              Color
              %span
                – CSS color (shorthand hexadecimal)
            %p
              %span
                \#FFF
              The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
          .c0ff-000
            %p
              %span
                \#0FF
              The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
          .cf00-000
            %p
              %span
                \#F00
              The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
      /
        end .container_16
    /
      end .dark
    /
      BLACK AND WHITE ON COLOR
    .container_16.clearfix
      .grid_8
        .c.cfff-f00
          %h2
            \#FFF on #F00
          %p
            The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
      .grid_8
        .c.c000-f00
          %h2
            \#000 on #0FF
          %p
            The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
      .grid_8
        .c.cfff-0ff
          %h2
            \#FFF on #0FF
          %p
            The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
      .grid_8
        .c.c000-0ff
          %h2
            \#000 on #0FF
          %p
            The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
    /
      end .container_16
    /
      ABOUT
    #footer.container_12
      .grid_6.suffix_6
        %p
          This web font specimen is brought to you by
          %a{ :href => "http://nicewebtype.com/" }
            Nice Web Type
          \.
          %br
          %a{ :href => "http://webfontspecimen.com/" }
            Grab a copy and test your type
          \. Licensed via
          %a{ :href => "http://creativecommons.org/licenses/by/3.0/us/", :rel => "license" }
            Creative Commons
          \.
    /
      end #footer
